<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatroom</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>
<body>
    <div id="chatroom">
        <div id="message-list">
            {% for message in messages %}
                <div class="message">
                    <span class="timestamp">{{ message.timestamp }}</span>
                    <span class="username">{{ message.username }}</span>
                    <p class="content">{{ message.content }}</p>
                </div>
            {% endfor %}
        </div>
        <div id="message-input-area">
            <input type="text" id="message-input" placeholder="Type your message here...">
            <button id="send-button">Send</button>
        </div>
    </div>
</body>
</html>