<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div class="container">
        <h2>Login</h2>
        <form id="login-form" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}<br>
                {{ form.username(size=32) }}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}
            </p>
            <p>{{ form.remember_me() }} Remember Me</p>
            <p>{{ form.submit() }}</p>
        </form>
        <p>New User? <a href="{{ url_for('register') }}">Register Here</a></p>
    </div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>